
.container-herramientas{

    width: 100%;
     
        height: auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 50px;
        padding: 10px;
    }
    
    

    .con-targeta{


        width: 450px;
        height: auto;
       
        padding: 1px;
        border-radius: 10px;
        background-color: aliceblue;
        
    }

    .con-titulo-imagen{
        width: 100%;
        height: 150px;
        
        display: flex;
        align-items: center;
        padding: 10px;
        gap: 10px;
        
    }

    .con-titulo-imagen p{

        font-size: 1.4em;
        font-weight: 600;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
    }

    .con-titulo-imagen img{
       
        width: 130px;

    }
     
    .con-material{

        background-color: pink;


    }

    .con-material ul {
        background-color: bisque;
        width: 100%;
        height:auto ;
padding: 25px;

    }

.con-material ul li{
    
    width: 100%;
    padding: 5px;
   
    border-bottom: 1px solid #000;
    text-decoration: ;
margin-bottom: 10px;


}

.con-material ul li:hover{
    background-color: #e84118;
       
    

}
.con-material ul li a:hover{

color: white;
}
.con-material ul li a{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;

  
  

}