



body{
   background-image: url("./assets/imagenes/fondo-slider.jpg");
    background-size: cover;
   
}






.contenedor-identidad{
         background-image: url("./assets/imagenes/fondo-nosotros.jpg");
         background-size: cover;
    width: 100%;
  

    

    
   display: flex;
    align-items: center;
    justify-content: center;
     margin: auto;

     background-color: rgb(72, 58, 85);

}

.identida-center{
 max-width: 1250px;

padding: 20px;
border: 2px solid violet;
margin: 20px;

border-radius: 10px;


}

.borde p{

font-size: 2rem;


border-bottom: 5px solid red ;

display: inline-block;
padding: 20px 10px 0px 10px;
color: var(--blanco-principal);


}

.borde{
display: flex;
justify-content: center;
    width:400px;
    height: auto;

    margin: auto;

    
}


.tituloautomotriz{

    margin-top: 50px;

    font-size: 1.3rem;
    padding-bottom: 20px;
    text-align: center;
    font-weight: bold;
    color: var(--blanco-principal);

}

.texto-fuentes{

    text-align: center;
    font-size: 1.3rem;
    padding: 20px;
    line-height: 28px;
    color: var(--blanco-principal);

}



.Contenedor-tiendas{
    width: 100%;
   padding: 30px;
    height: auto;

margin: auto;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
gap: 15px;
margin-bottom: 20px;

background: rgb(62,164,207);
background: linear-gradient(0deg, rgba(62,164,207,1) 66%, rgba(253,187,45,1) 100%);
}

.tienda{
    width: 350px;
   height: auto;
    
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid black;
    border-radius: 0px 0px 20px 20px ;
}

.tienda img{
    width: 100%;
    height: 350px;
    border-radius: 10px 10px 0px 0px;
}

.tienda a{
    width: 100%;
    height: 50px;
  
   text-align: center;
 font-weight: bold;
padding-top: 12px;
background-color: rgb(51, 114, 168);
display: inline-block;
font-size: 1.2rem;
text-decoration: none;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: var(--blanco-principal);

border-radius: 0px 0px 10px 10px ;


}
.tienda a:hover{

 color: var(--blanco-principal);
}
