


.contenedor-menu{

    
width: 100%;  
 background-image: radial-gradient(circle at 75.21% 32.35%, #ff7247 0, #ff5b43 25%, #f23c3c 50%, #e40137 75%, #d90036 100%);
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 20px;
    margin: auto;
   
    
    

}

.logo{
    width:270px;
    height:90px ;
    padding: 10px;
    background-color: white;

    border-radius: 5px;
    padding: 10px;
    margin: 5px;

}

.icon-menu{
    width: 50px;
    height: 50px;
    margin-right: 20px;
display: none;
  
    border-radius: 5px;
    padding: 2px;

}

.icon-menu:hover{
    background-color: #C1001F;


}

.conainer-menuvertical{


    width: 100%;
    height: 300px;
    background-color: rgb(0, 0, 0);
    z-index: 2;
    position: absolute;
    margin: auto;
}

.con-items{
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle at 75.21% 32.35%, #ff7247 0, #ff5b43 25%, #f23c3c 50%, #e40137 75%, #d90036 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: space-around;


}
.con-items li{
    list-style: none;
   
    width: 100%;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid rgb(10, 9, 9);

}
.con-items li a{
font-size: 1.5em;
color: white;
    text-decoration: none;
    background-color: ;
    padding: 10px;
}

.con-items li:hover{
    background-image: radial-gradient(circle at 120.71% 50%, #ffb790 0, #ffac96 8.33%, #ffa19b 16.67%, #ff949d 25%, #ff879c 33.33%, #f67a97 41.67%, #d86c8f 50%, #ba5f85 58.33%, #a0547b 66.67%, #894b72 75%, #75446a 83.33%, #653e64 91.67%, #583b5f 100%);

}


.vista{
   margin-left: 0px;
   transition: 0.5s all;
}

.oculto{
    transition: 0.5s all;
margin-left: -100%;

}

.contenedor-slider{
width: 100%;
height:500px;
background-image: url("../imagenes/fondo-slider.jpg");
background-size: contain;
}

.slider{
 width:100%;
max-width: 1200px;
 background-color: green;
 overflow: hidden;
 margin: auto;
 height: 100%;
 background-image: url("../imagenes/banner00.jpg");
 background-size: cover;

 
}




.cont-menu-destokp{
    width: 800px;
    height: auto;
    /* background-color: red; */


}

.menu-destokp{
width: 100%;
display: flex;
gap: 10px;
justify-content: space-around;


}

.menu-destokp li{
    list-style-type: none;
    padding: 20px;

}
.menu-destokp li a{

    text-decoration: none;
    font-size: 1.5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--blanco-principal);
}
.menu-destokp li a:hover{

    background-color: #c1001f;
    color: var(--blanco-principal);
}


@media (max-width:700px){
    
   .contenedor-slider{

        height:200px;

    }
}


@media (max-width:970px){




    .contenedor-slider{

        height: 300px;

    }

    .slide{
        height: 100%;

    }

.menu-destokp li a{
    font-size: 1.2rem;

}
.menu-destokp{
   
   display: none;
  
    
    
    }
    .cont-menu-destokp{
        width: 1000px;
       
    
    
    }
    .icon-menu{

        display: flex;
    }
    
}



@media (max-width:900px){

    .contenedor-slider{

        height: 250px;
        

    }

    .slide{
        height: 100%;

    }
   
    
}

